* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Aplicar la fuente a todos los elementos */
    cursor: pointer;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 40px 20px; /* Aumentar el padding para dar más espacio */
}

header {
    background-color: #20232a; /* Oscurecer el fondo para mejor contraste */
    color: #61dafb; /* Color brillante para el título, como el de React para una apariencia 'techy' */
    padding: 2rem 0; /* Aumentar el padding para un aspecto más prominente */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

header h1 {
    margin: 0;
    font-size: 3rem; /* Tamaño más grande para el título principal */
}

main {
    max-width: 800px; /* Limitar el ancho del contenido para mejorar la legibilidad */
    margin: 50px auto; /* Centrar el contenido principal */
}

section {
    background: #ffffff;
    padding: 30px; /* Aumentar el padding para más espacio alrededor del texto */
    margin-bottom: 30px;
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada para la tarjeta */
}

section p {
    text-align: justify; /* Justificar el texto para una presentación más ordenada */
    line-height: 1.8; /* Espaciado de línea para mejorar la legibilidad */
    font-size: 1.1rem; /* Tamaño de fuente ligeramente más grande */
    margin-bottom: 1rem; /* Espacio antes del siguiente párrafo */
}

input[type="text"] {
    width: 100%; /* Hacer que el campo de texto abarque todo el ancho */
    padding: 10px; /* Padding interno para el campo de texto */
    margin-top: 20px; /* Espacio antes del campo de texto */
    margin-bottom: 20px; /* Espacio después del campo de texto */
    border-radius: 5px; /* Bordes redondeados para el campo de texto */
    border: 1px solid #ccc; /* Borde sutil para el campo de texto */
    font-size: 1rem; /* Tamaño de la fuente en el campo de texto */
}

button {
    background-color: #61dafb; /* Color de fondo llamativo para el botón */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s; 
}

button:hover {
background-color: #4fa8d6; 
}

footer {
background-color: #20232a; /* Igual que el header para la consistencia*/
color: #61dafb;
text-align: center;
padding: 1rem 0;
position: relative; 
width: 100%;
clear: both;
margin-top: 40px; 
}


/*SECCION DE PSITAS BLOQUEADAS*/

.bloqueada {
    background-color: #f8d7da; /* Un fondo rojo claro para indicar que está bloqueado */
    color: #721c24;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bloqueada .candado {
    font-size: 2rem; /* Hacer el candado más grande para que sea claro que está bloqueado */
    padding: 20px;
}


.desbloqueda {
    background-color: #158324e7; /* Un fondo rojo claro para indicar que está bloqueado */
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.desbloqueda .candado{
    font-size: 2rem; /* Hacer el candado más grande para que sea claro que está bloqueado */
    padding: 20px;
}
